﻿@page
@model CRUDRazor.Pages.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>



<p>Enter your name:</p>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>Name: <input asp-for="Customer.Name" /></div>
    <div>Address: <input asp-for="Customer.Address" /></div>
    <input type="submit" />
</form>