﻿@page
@model CRUDRazor.Pages.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edi Customer - @Model.Customer.Id</h1>

<form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Customer.Id" type="hidden" />

    <div>Name: <input asp-for="Customer.Name" /></div>
    <div>Address: <input asp-for="Customer.Address" /></div>
    <button type="submit">Save</button>
</form>
