﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.Customers)
                {
                    <tr>
                        <td>@data.Id</td>
                        <td>@data.Name</td>
                        <td>@data.Address</td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@data.Id">Edit</a>
                            <button type="submit" asp-page-handler="delete"
                                    asp-route-id="@data.Id">
                                Delete
                            </button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <a asp-page="./Create">Create</a>
    </form>
